{% extends 'base2.html' %}
{% load static %}

{% block title %}게시판{% endblock %}

{% block content %}
<div class="container mt-3">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">검색하기</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>검색어를 입력해 주세요</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Board -->
<section class="projects-section bg-light" id="board">
<div class="container">
  <h1 class="text-center">자유게시판</h1>

  <hr>

<table class="table table-hover">
    <thead>
      <tr class="table-primary" style="color:black">
          <th>글번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>조회수</th>

      </tr>
    </thead>
    <tbody>
  {% for article in articles %}
      <tr id="trid" >
          <td>{{ article.pk }}</td>
          <td><a href="{% url 'detail' 'B' article.pk %}#board">{{ article.title }}</a><span style="color:red">[{{ article.cmtcnt}}]</span></td>
          <td>{{ article.awriter.nickName }}</td>
          <td>{{ article.updated_at | date:'Y-m-d G:i' }}</td>
          <td> {{ article.viewcnt }}</td>

      </tr>
{% endfor %}
    </tbody>
</table>
<h6 class="text-center">
    {% if articles.has_previous %}
        <a href="?page={{articles.number|add:-1}}#board">이전페이지</a>
    {% endif %}
        Page {{articles.number}} / {{ articles.paginator.num_pages}}
    {% if articles.has_next %}
        <a href="?page={{articles.number|add:+1}}#board">다음페이지</a>
    {% endif %}
</h6>

    <div>
        <div id="searchdiv" style=" display: inline-block">
            <select name="searchtype">
                <option value="search1">별명</option>
                <option value="search2">작성내용</option>
            </select>
            <input type="text" name="keyword" required>
            <button class="btn btn-primary" onclick="processSearch() ">검색</button>
        </div>
        <div style="float:right; display: inline-block"><a href="{% url 'create' 'B' %}"><img style="float:left; " width="22" src="/static/assets/img/boardwrite2.png" ><h4 style="float:right; margin-right:10px">글쓰기</h4></a></div>
     </div>

</div>
</section>

{% endblock %}


{% block css %}

        .masthead2 {
          position: relative;
          width: 100%;
          height: 10px;
          min-height: 35rem;
          padding: 15rem 0;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("/static/assets/img/demo-image-01.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-size: cover;
        }

{% endblock %}

{% block javascript %}
    function processSearch() {
        if ($('[name="keyword"]').val() == '') {
<!--            alert("검색어를 넣어주세요")-->
            $("#myModal").modal("show");
        } else {
            location.href = '/fordisapp/'+$('[name="searchtype"]').val()+'/B/'+$('[name="keyword"]').val();
        }
    }
{% endblock %}