{% extends "base.html" %}

{% block content %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
{% if loginyn  %}
                <a class="navbar-brand js-scroll-trigger-left" href="{% url 'logout' %}">logout</a>
                <img class="image_section" width="50" src="{{ photopath }}" alt="" />Hi {{nickname}}
{% else %}
                <a class="navbar-brand js-scroll-trigger-left" href="{% url 'login' %}#board">login</a>
{% endif %}
<!--                <a class="navbar-brand js-scroll-trigger-center" href="#page-top"></a>-->
                <a class="navbar-brand js-scroll-trigger-center" style="margin-left:20px;"href="{% url 'index' %}">Home</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#report">신고</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#facility">시설</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#wheel">편의</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#board">게시판</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#qna">Q&A</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-8 text-uppercase">장애인을 위한</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">장애시설, 정보공유 및 소통을 위한 장소</h2>
<!--                    <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>-->
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">장애인을 위한 '진짜' 배려 </h2>
                        <p class="text-white-50">
                            이웃으로 동료로 매일 마주하는 장애인, 어떻게 대해야 할지 고민해 본 경험이 있나요? 평소 다른 이웃과
                            동료를 대할 때처럼 존중하는 마음으로 똑같이 대해주세요.
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="/static/assets/img/sunset.jpg" alt="" />
            </div>
        </section>

        <!-- Projects-->
        <section class="projects-section bg-light" id="report">
            <div class="container">
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="/static/assets/img/carpark.jpg" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white"><a href="{% url 'report' %}#board">신고</a></h4>
                                    <p class="mb-0 text-white-50">장애인 전용 주차 구역에 불법 주정차량 신고합니다.</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Projects-->
        <section class="projects-section bg-light" id="facility">
            <div class="container">
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="/static/assets/img/wheelchair.jpg" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white"><a href="{% url 'mapping' %}">시설</a></h4>
                                    <p class="mb-0 text-white-50">장애인을 위한 시설 위치를 쉽게 확인 할 수 있습니다.</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Projects-->
        <section class="projects-section bg-light" id="wheel">
            <div class="container">
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="/static/assets/img/disabledtoilet.jpg" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white"><a href="{% url 'mymap' %}#mytitle">편의</a></h4>
                                    <p class="mb-0 text-white-50">장애인을 위한 화장실, 휠체어 충전소 위치를 쉽게 확인 할 수 있습니다.</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Projects-->
        <section class="projects-section bg-light" id="board">
            <div class="container">
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="/static/assets/img/demo-image-01.jpg" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white"><a href="{% url 'board' %}#board">게시판</a></h4>
                                    <p class="mb-0 text-white-50">새로운 소식과 유용한 정보를 공유 할 수 있습니다.</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="projects-section bg-light" id="qna">
            <div class="container">
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="/static/assets/img/inclusion-Q&A.png" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white"><a href="{% url 'qnaread' %}#board">Q&A</a></h4>
                                    <p class="mb-0 text-white-50">장애자 정보 및 사이트 관련 문의를 주시면 신속히 답변해 드립니다.</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">도움이나 기부를 원하시는 분은 연락주세요</h2>
                        <form class="form-inline d-flex">

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">서울특별시 강남구 언주로 508 10~17층(역삼동, 서울상록빌딩)</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="mailto:unicodaumx@hanmail.net">unicodaumx@hanmail.net</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="tel:15449001">1544-9001</a></div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="social d-flex justify-content-center">-->
<!--                    <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>-->
<!--                    <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>-->
<!--                    <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>-->
<!--                </div>-->
            </div>
        </section>

        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright ⓒ 에러업조 2020</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>



{% if loginyn  %}
<!-- 플로팅 배너 버튼 HTML 표시 -->
        <!-- Mobile 긴급전화 -->
        <div class="floBanMob1 hidden-lg">
         <a href="tel:{{ guardianCallNum }}">
              <img class="image_section_float" width="100" src="/static/assets/img/callphone2.png" >
          </a>
        </div>
        <!-- Mobile 긴급문자 -->
        <div class="floBanMob2 hidden-lg">
          <a href="sms:{{ guardianCallNum }}?body={{ guardianName }}님!%0a{{guardianBasicMsg}}">
            <img class="image_section_float" width="100" src="/static/assets/img/sendtext.png" >
          </a>
        </div>
{% endif %}
{% endblock %}
