{% extends 'base2.html' %}


{% block css %}

    .masthead2 {
        position: relative;
        width: 100%;
        height: 10px;
        min-height: 35rem;
        padding: 15rem 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("/static/assets/img/wheelchair.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }


    #maptitle{
        margin-top: 10px;
        text-align: center;
    }

    #mapid{ margin: auto;
        text-align: center;
    }
    .buttons{ margin:auto;
    text-align: center;
    }

    #locationmemo{
        text-align: center;
    }

    #yourlocation{
    text-align: center;
    }

    #resetbutton{
    text-align: center;
    }

    .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    vertical-align:middle;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color: #2196F3;
    }

    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }

    .slider.round:before {
    border-radius: 50%;
    }

    #mapslider {
	margin:0px;
	display:inline-block;
	font-size:15px;
	font-weight:bold;
    }
{% endblock %}

{% block content %}
{% block title %}
{% endblock %}
<section class="projects-section bg-light" id="board">
    <br>
    <h1 style="text-align: center;">장애인을 위한 시설 찾기</h1>
    <br>
    <div id="mapid" style="width: 800px; height: 450px;"></div>
    <br>


    <p class="buttons">
        지역재활시설 찾기
        <label class="switch">
        <input type="checkbox"  id="switch1">
        <span class="slider round"></span>
        </label>
        <p id="mapslider1"></p><p style="display:none;">ON</p>
    </p>
    <p class="buttons">
        거주시설 찾기
        <label class="switch">
        <input type="checkbox" id="switch2">
        <span class="slider round"></span>
        </label>
        <p id="mapslider2"></p><p style="display:none;">ON</p>
    </p>
    <p class="buttons">
        직업재활시설 찾기
        <label class="switch">
        <input type="checkbox"  id="switch3">
        <span class="slider round"></span>
        </label>
        <p id="mapslider3"></p><p style="display:none;">ON</p>
    </p>

    <p id="yourlocation"><button class="btn btn-primary" onclick="getLocation()" >현재위치보기</button><button class="btn btn-primary" style="margin-left: 10px" type="reset" id="reset">화면지우기</button></p>
    <p id="locationmemo"></p>

    <hr>
    <p id="resetbutton"></p>
    <br>

</section>

{% endblock %}


    {% block javascript %}
  	var mymap = 0;

    var myIcon_red = L.icon({
	    iconUrl: 'http://maps.google.com/mapfiles/ms/micons/red-dot.png',
	    iconSize: [32, 32]
	});

	var myIcon_mint = L.icon({
	    iconUrl: 'http://maps.google.com/mapfiles/ms/micons/ltblue-dot.png',
	    iconSize: [32, 32]
	});

    var myIcon_yellow = L.icon({
	    iconUrl: 'http://maps.google.com/mapfiles/ms/micons/yellow-dot.png',
	    iconSize: [32, 32]
	});

	var myIcon_purple = L.icon({
	    iconUrl: 'http://maps.google.com/mapfiles/ms/micons/green-dot.png',
	    iconSize: [32, 32]
	});


	var sahoe = L.layerGroup();
    $.getJSON("{% url 'sahoe' %}", function(jsonObj){
    listlen = jsonObj.sahoe_name.length;
    var sahoe_lat = 0;
    var sahoe_lng = 0;
    for(var i=0; i < listlen; i++){
        sahoe_lat = parseFloat(jsonObj.sahoe_lat[i]);
        sahoe_lng = parseFloat(jsonObj.sahoe_lng[i])
        sahoe_name = jsonObj.sahoe_name[i];
        sahoe_addr = jsonObj.sahoe_addr[i];
        sahoe_tel = jsonObj.sahoe_tel[i];
        L.marker([sahoe_lat, sahoe_lng], {icon: myIcon_red}).addTo(sahoe)
                .bindPopup(sahoe_name+"<br>"+sahoe_addr+"<br>"+sahoe_tel).openPopup()
    };
            mymap.setView([37.554163, 126.983248], 11);
    });


	var geoju = L.layerGroup();
    $.getJSON("{% url 'geoju' %}", function(jsonObj){
    var listlen = jsonObj.geoju_name.length;
    var geoju_lat = 0;
    var geoju_lng = 0;
    for(var i=0; i < listlen; i++){
        geoju_lat = parseFloat(jsonObj.geoju_lat[i]);
        geoju_lng = parseFloat(jsonObj.geoju_lng[i])
        geoju_name = jsonObj.geoju_name[i];
        geoju_addr = jsonObj.geoju_addr[i];
        geoju_tel = jsonObj.geoju_tel[i];
        L.marker([geoju_lat, geoju_lng], {icon: myIcon_mint}).addTo(geoju)
                .bindPopup(geoju_name+"<br>"+geoju_addr+"<br>"+geoju_tel).openPopup()
        mymap.setView([37.554163, 126.983248], 11);
    }
    });

    var job = L.layerGroup();
    $.getJSON("{% url 'job' %}", function(jsonObj){
    var listlen = jsonObj.job_name.length;
    var job_lat = 0;
    var job_lng = 0;
    for(var i=0; i < listlen; i++){
        job_lat = parseFloat(jsonObj.job_lat[i]);
        job_lng = parseFloat(jsonObj.job_lng[i])
        job_name = jsonObj.job_name[i];
        job_addr = jsonObj.job_addr[i];
        job_tel = jsonObj.job_tel[i];
        L.marker([job_lat, job_lng], {icon: myIcon_yellow}).addTo(job)
                .bindPopup(job_name+"<br>"+job_addr+"<br>"+job_tel).openPopup()
        mymap.setView([37.554163, 126.983248], 11)
    }
    });


    mymap = L.map('mapid',{
        'center': [37.554163, 126.983248],
        'zoom': 12,
  	    'layers': [L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
			maxZoom: 18,

			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery <a href="https://www.mapbox.com/">Mapbox</a>',
			id: 'mapbox.streets'
	        })
            ]
        });


    var popup = L.popup();
    var ct = L.popup();

    var circle = 0;
    function onMapClick(e){
        popup.setLatLng(e.latlng);
        mymap.setView(e.latlng, 15);
        var marking = L.marker(e.latlng, {opacity: 0.3}).addTo(mymap);
        var center_lat = e.latlng.lat;
        var center_lng = e.latlng.lng;

        $.getJSON("{% url 'mappoint' %}?center_lat="+center_lat+"&center_lng="+center_lng, function(jsonObj){
            var center = e.latlng;
            console.log(e.latlng);
            var length = jsonObj.pin_lat.length;
            var pin_lat = 0;
            var pin_lng = 0;
            var distanceInKm = 0;
            var radius = 1000

            for(var i=0; i < length; i++){
                pin_lat = parseFloat(jsonObj.pin_lat[i]);
                pin_lng = parseFloat(jsonObj.pin_lng[i])
                pin_name = jsonObj.pin_name[i];
                pin_addr = jsonObj.pin_addr[i];
                pin_tel = jsonObj.pin_tel[i];
                pin_kind = jsonObj.pin_kind[i];
                distanceInKm = center.distanceTo([pin_lat,pin_lng]);

                if(distanceInKm < radius){
                    var marker =L.marker([pin_lat,pin_lng]).addTo(mymap);
                    marker.bindPopup(pin_name+"<br>"+pin_addr+"<br>"+pin_tel+"<br>"+pin_kind).openPopup();
                    }
            }
        });
        if(circle == 0){
        circle = L.circle(e.latlng, 1000,
            {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.3
        }).addTo(mymap);
        }
        else{
            mymap.removeLayer(circle);
            circle = L.circle(e.latlng, 1000,
            {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.3
        }).addTo(mymap);
        }
    }
    mymap.on('click', onMapClick);



    var listlen = 0;

    $("#switch1").click(function(){
        if($(switch1).is(":checked")){
            console.log($(switch1).is(":checked"));
        mymap.addLayer(sahoe);
        }
        else{
            console.log($(switch1).is(":checked"));
        mymap.removeLayer(sahoe);
        }
    });

    $("#switch2").click(function(){
        if($(switch2).is(":checked")){
            console.log($(switch2).is(":checked"));
        mymap.addLayer(geoju);
        }
        else{
            console.log($(switch2).is(":checked"));
        mymap.removeLayer(geoju);
        }
    });

    $("#switch3").click(function(){
        if($(switch3).is(":checked")){
            console.log($(switch3).is(":checked"));
        mymap.addLayer(job);
        }
        else{
            console.log($(switch3).is(":checked"));
        mymap.removeLayer(job);
        }
    });




    var x=document.getElementById("locationmemo");
	  function getLocation() {
         if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition,showError);
         }
         else {
        	 x.innerHTML=" 이 브라우저는 geolocation을 지원하지 않습니다.";
       	 }
      }
      function showPosition(position) {
          x.innerHTML="위도: " + position.coords.latitude + "<br />경도: " + position.coords.longitude;
          var lat = position.coords.latitude;
          var lng = position.coords.longitude;
          mymap.setView([lat, lng], 15)
          L.marker([lat,lng], {opacity: 0.3}).addTo(mymap);
          var center = [lat, lng]
          $.getJSON("{% url 'mappoint' %}?center_lat="+lat+"&center_lng="+lng, function(jsonObj){
            var length = jsonObj.pin_lat.length;
            var pin_lat = 0;
            var pin_lng = 0;
            var distanceInKm = 0;
            var radius = 1000

            for(var i=0; i < length; i++){
                pin_lat = parseFloat(jsonObj.pin_lat[i]);
                pin_lng = parseFloat(jsonObj.pin_lng[i])
                pin_name = jsonObj.pin_name[i];
                pin_addr = jsonObj.pin_addr[i];
                pin_tel = jsonObj.pin_tel[i];
                pin_kind = jsonObj.pin_kind[i];
                distanceInKm = mymap.distance([pin_lat,pin_lng], [lat,lng]);

                if(distanceInKm < radius){
                    L.marker([pin_lat,pin_lng], {icon: myIcon_purple}).addTo(mymap)
                        .bindPopup(pin_name+"<br>"+pin_addr+"<br>"+pin_tel+"<br>"+pin_kind).openPopup();
                    }
            }
        });
      }
      function showError(error) {
         switch(error.code) {
            case error.PERMISSION_DENIED:
               	x.innerHTML="사용자가 위치 기능 사용을 거부했습니다."
            	break;

            case error.POSITION_UNAVAILABLE:
            	x.innerHTML="위치를 구할 수 없습니다.";
           	 	break;

            case error.TIMEOUT:
           	 	x.innerHTML="사용자가 위치 기능 사용을 거부했습니다.";
            	break;
            case error.UNKNOWN_ERROR:
            	x.innerHTML="기타 에러";
         };
      }

    $('#reset').click(function(){
        location.reload();
    });

    <!-- render는 javascript로 처리 -->
    $(document).ready(function () {
    $('html, body').animate({
    scrollTop: $('#board').offset().top
    }, 'slow');
    });
    {% endblock %}

